<div id="design-<%= design.id %>"
  class="bg-white rounded shadow-sm py-4 px-4 text-center card card-design"
  data-controller="movie-card">
  <div class="text-center">
    <%= image_tag("diseno-grafico.jpg", class:"img-fluid mb-3 img-thumbnail shadow-sm") %>
  </div>

  <h6 class="mb-0"><%= design.title %></h6>
  <span class="small text-muted"><%= design.description %></span>
  <ul class="mb-0 list-inline mt-3">
    <li class="list-inline-item">
      <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_design_path(design.id) %>
    </li>
    <li class="list-inline-item">
      <%= link_to '<i class="fas fa-trash"></i>'.html_safe,
              design_path(design),
              method: :delete,
              remote: true,
              data: { confirm: "Are you sure?" } %>
    </li>
  </ul>
</div>
