<div id="design-<%= design.id %>"
  class="bg-white rounded shadow-sm py-4 px-4 text-center card card-design"
  data-controller="edit-design" data-edit-design-target="card">

  <!--content de edit-->
  <div data-edit-design-target="infos" class="<%= 'd-none' if design.errors.any? %>">
    <div class="text-center">
      <%= image_tag("diseno-grafico.jpg", class:"img-fluid mb-3 img-thumbnail shadow-sm") %>
    </div>
    <h6 class="mb-0"><%= design.title %></h6>
    <span class="small text-muted"><%= design.description %></span>

    <ul class="mb-0 list-inline mt-3">
      <!--<li class="list-inline-item">
        <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_design_path(design.id) %>
      </li>-->
      <li class="list-inline-item">
        <i class="fas fa-edit" data-action="click->edit-design#displayForm"></i>
      </li>
      <li class="list-inline-item">
        <%= link_to '<i class="fas fa-trash"></i>'.html_safe,
                design_path(design),
                method: :delete,
                remote: true,
                data: { confirm: "Are you sure?", action: "click->delete-design#delete" } %>
        <!--<%= button_to "delete", design, method: :delete, form_class: "inline",
        data: {action: "click->delete-design#delete"}, class: '' %>-->
      </li>
    </ul>
  </div>
  <!--content de edit-->

  <%= simple_form_for design, html: { class: design.errors.any? ? '' : 'd-none',
  data: { edit_design_target: 'form', action: 'submit->edit-design#update' }
   } do |f| -%>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.submit "Update design", class: "btn btn-sm btn-primary btn-block mt-2" %>
  <% end %>
</div>
