<div class='user-form-container'>
  <div class='user-form'>
    <div class='text-center mt-4 mb-3'>
      <h2>Editar mi cuenta</h2>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, label: 'Correo electrónico:',
                    required: true, autofocus: true %>
        <%= f.input :name, label: 'Nombre:',
                    required: true, autofocus: true %>
        <%= f.input :last_name, label: 'Apellidos:',
                    required: true, autofocus: true %>
        <%= f.input :address, label: 'Dirección (ciudad, país):',
                    required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, label: 'Nueva contraseña:',
                    hint: "Déjala en blanco si no quieres cambiarla",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation, label: 'Confirma tu nueva contraseña:',
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password, label: 'Contraseña actual:',
                    hint: "La necesitamos para confirmar tus cambios",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div class="form-actions text-center mt-4">
        <%= f.button :submit, "Actualizar cambios", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <div class='text-center mt-4'>
      <h3>Cancelar mi cuenta</h3>
      <p>¿Algún problema? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete, style: 'color: white' %></p>
      <%= link_to "Regresar", :back , style: 'color: white'%>
    </div>
  </div>
</div>