<div class='sort-container'>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Choose a technology
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% @technologies.each do |technology| %>
        <li>
          <%= link_to technology, technology_path(technology), 
            class: "dropdown-item", style: 'display: inline' %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Sort by
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <% @filters.each do |filter| %>
        <li>
          <%= link_to filter, filter_path(filter), 
            class: "dropdown-item", style: 'display: inline' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="container my-4">
  <div class="auto-grid-designs">
    <% @portfolios.each do |portfolio| %>
      <div class="bg-white rounded shadow-sm pb-3 card card-index-porfios">
        <div class="container-designs">
          <div>
            <%= image_tag("diseno1.jpg", class:"") %>
          </div>
          <div>
            <%= image_tag("diseno2.jpg", class:"") %>
          </div>
        </div>
        <div class="text-center" style="margin-top: -30px">
          <%= link_to portfolio_path(portfolio) do %>
            <%= image_tag "teacher-4.jpg", width: 100, class: 'img-fluid rounded-circle mb-3 img-thumbnail shadow-sm' %>
          <% end %>
          <h6 class="mb-0">
            <%= link_to 'Manuella Nevoresky', portfolio_path(portfolio) %>
          </h6>
          <span class="small text-muted"><i class="fas fa-map-marker-alt"></i> Melbourne, Australia</span>
          <br>
          <br>
          <% portfolio.tag_list.split(', ').each do |technology| %>
            <%= image_tag("#{technology}-logo.png", style: 'height: 30px') %>
          <% end %>
        </div>
        <div class="content-favorites-and-likes mt-3 mx-3">
          <div>
            <p class="m-0 text-center">348</p>
            <p class="small text-muted m-0 text-center">valoraciones</p>
          </div>
          <div class="text-muted">|</div>
          <div>
            <p class="m-0 text-center">200</p>
            <p class="small text-muted m-0 text-center">seguidores</p>
          </div>
        </div>
        <div class="button-card-portfolio mt-4">
          <p class="text-center seguir">
            <a href="#"><i class="fas fa-plus-circle"></i>&nbsp;&nbsp;Seguir</a>
          </p>
          <p class="text-center mensaje">
            <a href="#"><i class="fas fa-envelope"></i>&nbsp;&nbsp;Mensaje</a>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
