<div class="container">
  <div>
    <%= image_tag("donald.png", class:"img-fluid mb-3 img-thumbnail shadow-sm") %>
    <p><%= @portfolio.user.email %></p>
    <p><%= @portfolio.total_likes %></p>
    <p><%= @portfolio.stars_average %></p>
    <p><%= @portfolio.about %></p>
    <%= link_to 'designs', portfolio_designs_path(@portfolio) %>
  </div>
</div>
