<% if user_signed_in? %>
  <% if current_user.id == @chatroom.user_id || @chatroom.portfolio_id == current_user.portfolio.id %>
  <div class="messages-container" style='padding-bottom: 150px'>
    <div class="container">
      <h1 style='margin: 30px 0px; text-align: center'>Chat con
      <% if @chatroom.portfolio.user.name == current_user.name %>
      <%= @chatroom.user.name %></h1>
      <% else %>
        <%= @chatroom.portfolio.user.name %></h1>
      <% end %>
      <div style='margin-bottom: 30px ' id="messages" data-chatroom-id="<%= @chatroom.id %>">
        <% @chatroom.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
        <% end %>
      </div>

      <%= simple_form_for [ @chatroom, @message ],
      remote: true, html: {class: 'input-message'} do |f| %>
        <%= f.input :content, label: false, placeholder: "Escribe tu mensaje" %>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
