<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #22223B">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DIGI GRAFIKKA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Categorías', portfolios_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Diseñadores', portfolios_path, class: 'nav-link' %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'Compartir tu trabajo', is_portfolio_path, method: "put", remote: true, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Mis Seguidores', followers_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Mi Chat', chatrooms_path, class: 'nav-link' %>
          </li>
        <% end %>

        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-nav dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Mi cuenta", "#", class: "dropdown-item" %>
              <%= link_to "..", "#", class: "dropdown-item" %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item position-absolute top-50 end-0 translate-middle-y login ">
            <%= link_to 'Iniciar sesión', user_session_path, class: 'btn btn-outline-primary' %>
          </li>
        <% end %>
      </ul>


    </div>
  </div>
</nav>
