<div class='user-form-container'>
  <div class='user-form' style="margin-bottom: 70px;">
    <div class='text-center mt-4 mb-3'>
      <h2>Iniciar sesión</h2>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, label: 'Correo electrónico:',
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password, label: 'Contraseña:',
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, label: 'Recordar mi cuenta',
                    as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions text-center mt-4">
        <%= f.button :submit, "Iniciar", class:'btn btn-primary' %>
      </div>
    <% end %>
    <div class='text-center mt-4'>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
