<!DOCTYPE html>
<html>
  <head>
    <title>DigiGrafikka</title>
    <!--<meta name="viewport" content="width=device-width,initial-scale=1">-->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%# <script type="text/javascript" src="../../javascript/lib/magnific-popup.js"></script> %>
    <%# <script type="text/javascript" src="../../javascript/lib/finaltilesgallery.js"></script> %>
    <%= favicon_link_tag asset_path('icon.png') %>
  </head>

  <body style='background-color: #F1E9E4'>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
